@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=cyrillic,cyrillic-ext,latin-ext");

.button-transparent {
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 0.88rem;
  font-weight: 300;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #ffffff;
  text-decoration: none;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease; }
  .button-transparent:hover, .button-transparent:focus {
    background-color: rgba(255, 255, 255, 0.4); }

    button, 
button:active, 
button:focus {
    outline: 0;
}

.button-main {
  display: inline-block;
  position: relative;
  padding: 14px 50px 16px;
  color: #ffffff;
  font-size: 1.13rem;
  font-weight: 500;
  text-decoration: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: transparent;
  overflow: hidden;
  z-index: 0; }
  .button-main:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200%;
    background-color: #9a45cb;
    background-image: -webkit-gradient(linear, left top, right top, from(#9d48d0), color-stop(50%, #47cfc8), to(#9d48d0));
    background-image: -webkit-linear-gradient(left, #9d48d0 0%, #47cfc8 50%, #9d48d0 100%);
    background-image: linear-gradient(to right, #9d48d0 0%, #47cfc8 50%, #9d48d0 100%);
    -webkit-transition: left 0.6s ease;
    transition: left 0.6s ease;
    z-index: -1; }
  .button-main:hover::after, .button-main:focus::after {
    left: -100%; }

.img-fluid {
  max-width: 100%;
  height: auto; }

.points div {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background-color: #fff; }

.decor {
  position: relative; }
  .decor::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 30px;
    background: url(../img/before-decor.png) no-repeat center center; }

.decor-2 {
  position: relative; }
  .decor-2::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    background: url(../img/before-decor.png) no-repeat center center;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

*::-webkit-input-placeholder {
  color: #9ca5ae;
  opacity: 1; }

*:-moz-placeholder {
  color: #9ca5ae;
  opacity: 1; }

*::-moz-placeholder {
  color: #9ca5ae;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #9ca5ae;
  opacity: 1; }

html {
  font-size: 16px; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

.container {
  width: 1140px !important;
  max-width: none !important; }

body {
  margin: 0;
  position: relative;
  min-width: 1200px;
  line-height: 1.6;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch; }

.site {
  overflow: hidden; }

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
/*  padding-top: 40px; */
  height: 60px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease; }
  header.h-fixed-h {
    top: -90px; }
  header.h-fixed {
    position: fixed; }
  header.h-fixed-v {
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.4);
    top: 0; }

[class^="col"] {
  line-height: 1; }

#h-top-menu {
  position: relative; }
  #h-top-menu ul {
    width: 520px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    padding: 0;
    margin: 0;
    list-style: none; }
    #h-top-menu ul li {
      margin: 2px; }
      #h-top-menu ul li a {
        display: block;
        color: #ffffff;
        font-size: 0.88rem;
        font-weight: 300;
        text-decoration: none;
        padding: 5px 7px;
        border: 1px solid #fff;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        -webkit-transition: background-color 0.4s ease;
        transition: background-color 0.4s ease; }
        #h-top-menu ul li a:hover, #h-top-menu ul li a:focus {
          background-color: rgba(255, 255, 255, 0.4); }

#menu-toggler {
  display: block;
  padding: 5px;
  background: none;
  height: 42px;
  width: 40px;
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease; }
  #menu-toggler:hover, #menu-toggler:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.4); }
  #menu-toggler img {
    height: 100%;
    width: 100%;  }

.sidepanel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1100;
  top: 0;
  right: 0;
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  text-align: left;
  color: #ffffff; 
}

.sidepanel .themenu {
  list-style: none;
  position: relative;
  margin: 0 45px;
  padding: 0;
}

.sidepanel .themenu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0;
}

.closebtn {
  position: absolute;
  right: 30px;
  top: -40px;
}

.flogo {
  justify-content: space-between;
}

h1 {
  margin: 0;
  color: #ffffff;
  font-size: 5.63rem;
  font-weight: 700; }

section:not(.s-head) {
  padding-top: 100px;
  padding-bottom: 100px; }
  
.h1-subtitle {
  margin: 0;
  color: #ffffff;
  font-size: 1.63rem;
  font-weight: 700; }
  .h1-subtitle-2 {
    margin: 0;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500; }

.s-head {
  text-align: center;
  background: url(../img/main-bg.jpg) no-repeat center center;
  background-size: cover; }
  .s-head .container {
    position: relative;
    height: 100vh;
    min-height: 600px; }

.button-main-head {
  margin-top: 50px;
  margin-bottom: 50px; }

.scroll-icon {
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 35px;
  background: url(../img/scroll-icon.png) no-repeat center center; }

.s-about h3 {
  padding-top: 10px;
  padding-bottom: 6px;
  position: relative;
  color: #363636;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem; }
  
  .s-about h3::before, .s-about h3::after {
    content: "";
    position: absolute; }
	
  .s-about h3::before {
    bottom: -7px;
    right: -22px;
    width: 41px;
    height: 38px;
    z-index: -2;
    background: #fff url(../img/about-man.png) no-repeat right center; }
	
  .s-about h3::after {
    left: 0;
    right: 0;
    height: 1px;
    bottom: 0;
    background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#000));
    background-image: -webkit-linear-gradient(left, #fff 0%, #000 100%);
    background-image: linear-gradient(to right, #fff 0%, #000 100%);
    z-index: -1; }
	
.s-about p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #363636;
  font-weight: 300;
  opacity: 0.9;
  margin-bottom: 25px; }
  
  .s-about p strong {
    color: #9653cf;
    font-weight: 700; }

	
	
	.s-about2 {
  padding-top: 100px;
  padding-bottom: 10px !important;  }
  
	
	
	.s-about2 h3 {
  padding-top: 10px;
  padding-bottom: 6px;
  position: relative;
  color: #363636;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem; }
  
  .s-about2 h3::before, .s-about2 h3::after {
    content: "";
    position: absolute; }
	
  .s-about2 h3::before {
    bottom: -7px;
    right: -22px;
    width: 41px;
    height: 38px;
    z-index: -2;
    background: #fff url(../img/about-man.png) no-repeat right center; }
	
  .s-about2 h3::after {
    left: 0;
    right: 0;
    height: 1px;
    bottom: 0;
    background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#000));
    background-image: -webkit-linear-gradient(left, #fff 0%, #000 100%);
    background-image: linear-gradient(to right, #fff 0%, #000 100%);
    z-index: -1; }
	
.s-about2 p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #363636;
  font-weight: 300;
  opacity: 0.9;
  margin-bottom: 25px; }
  
  .s-about2 p strong {
    color: #9653cf;
    font-weight: 700; }
	
.logo1 {
	height: 45px;
  margin: 7px;
}	
	
.s-steps {
  background: url(../img/steps-bg.jpg) no-repeat center center;
  background-size: cover; }
  .s-steps h2 {
    color: #ffffff;
    font-size: 2.81rem;
    font-weight: 700;
    text-transform: uppercase; }

.steps {
  margin-bottom: 4%; }
  .steps .step {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 14%;
        -ms-flex: 0 0 14%;
            flex: 0 0 14%;
    cursor: pointer; }
    .steps .step-check {
      margin-top: 24px;
      margin-bottom: 24px;
      position: relative;
      height: 2px;
      background-color: #337bad; }
      .steps .step-check > span {
        position: absolute;
        left: 50%;
        margin-left: -6px;
        top: -6px;
        display: block;
        width: 12px;
        height: 12px;
        border: 2px solid #5ea2d2;
        -webkit-border-radius: 100%;
                border-radius: 100%;
        background-color: #15374d; }
        .steps .step-check > span > span {
          position: absolute;
          top: 6px;
          left: 6px;
          width: 0;
          height: 0;
          -webkit-border-radius: 100%;
                  border-radius: 100%;
          background: url(../img/check-icon.png) no-repeat center center, -webkit-linear-gradient(325deg, #9d48d0 0%, #47cfc8 100%);
          background: url(../img/check-icon.png) no-repeat center center, linear-gradient(125deg, #9d48d0 0%, #47cfc8 100%);
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease; }
    .steps .step h4 {
      position: relative;
      top: 0;
      color: #d2e9fa;
      font-size: 0.81rem;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .steps .step p {
      position: relative;
      top: 0;
      padding-left: 15px;
      padding-right: 15px;
      opacity: 0.5;
      color: #ffffff;
      font-size: 0.8rem;
      font-weight: 300;
      margin: 0;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .steps .step:hover h4, .steps .step:focus h4 {
      top: -15px; }
    .steps .step:hover p, .steps .step:focus p {
      top: 15px;
      opacity: 1; }
    .steps .step:hover .step-check > span > span, .steps .step:focus .step-check > span > span {
      top: -14px;
      left: -12px;
      width: 36px;
      height: 36px; }
  .steps-description {
    margin: 10px 0 0;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 400; }
  .steps-subdescription {
    margin: 0;
    color: #ffffff;
    font-size: 0.94rem;
    font-weight: 400; }
  .steps-info-after {
    margin-bottom: 0;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.88rem; }

.button-main-steps {
  margin-top: 6%;
  margin-bottom: 7%;
  cursor: default; }

.s-questions h2 {
  margin-top: 0;
  margin-bottom: 6%; }

#questions-form .button-main[type="submit"] {
  width: 355px;
  border: none;
  cursor: pointer; }
#questions-form > div:first-child {
  margin-bottom: 40px; }
#questions-form label {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 55px;
  padding-left: 55px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  overflow: hidden; }
  #questions-form label.name::before, #questions-form label.surname::before {
    background-image: url(../img/icon-men.png); }
  #questions-form label.city::before {
    background-image: url(../img/icon-capital.png); }
  #questions-form label.phone::before {
    background-image: url(../img/icon-phone.png); }
  #questions-form label.email::before {
    background-image: url(../img/icon-letter.png); }
  #questions-form label input {
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 257px;
    padding: 17px 20px 16px;
    color: #363636;
    font-size: 1rem;
    font-weight: 300;
    border: none;
    -webkit-border-top-right-radius: 2px;
            border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
            border-bottom-right-radius: 2px; }
    #questions-form label input:focus {
      outline: none; }
  #questions-form label::before, #questions-form label::after {
    content: "";
    position: absolute; }
  #questions-form label::before {
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    width: 52px;
    border-right: 1px solid #9d48d0;
    -webkit-border-top-left-radius: 2px;
            border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
            border-bottom-left-radius: 2px;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat; }
  #questions-form label::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-image: -webkit-gradient(linear, left top, right top, from(#9d48d0), to(#47cfc8));
    background-image: -webkit-linear-gradient(left, #9d48d0 0%, #47cfc8 100%);
    background-image: linear-gradient(to right, #9d48d0 0%, #47cfc8 100%); }

#questions-form-popup {
  max-width: 640px; }
  #questions-form-popup .button-main[type="submit"] {
    width: 355px;
    border: none;
    cursor: pointer; }
  #questions-form-popup > div:first-child {
    margin-bottom: 40px; }
  #questions-form-popup label {
    margin-bottom: 15px;
    position: relative;
    display: block;
    width: 300px;
    height: 55px;
    padding-left: 55px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    overflow: hidden; }
    #questions-form-popup label.name::before, #questions-form-popup label.surname::before {
      background-image: url(../img/icon-men.png); }
    #questions-form-popup label.city::before {
      background-image: url(../img/icon-capital.png); }
    #questions-form-popup label.phone::before {
      background-image: url(../img/icon-phone.png); }
    #questions-form-popup label.email::before {
      background-image: url(../img/icon-letter.png); }
    #questions-form-popup label input {
      display: block;
      position: absolute;
      top: 2px;
      right: 2px;
      width: 257px;
      padding: 17px 20px 16px;
      color: #363636;
      font-size: 1rem;
      font-weight: 300;
      border: none;
      -webkit-border-top-right-radius: 2px;
              border-top-right-radius: 2px;
      -webkit-border-bottom-right-radius: 2px;
              border-bottom-right-radius: 2px; }
      #questions-form-popup label input:focus {
        outline: none; }
    #questions-form-popup label::before, #questions-form-popup label::after {
      content: "";
      position: absolute; }
    #questions-form-popup label::before {
      position: absolute;
      left: 2px;
      top: 2px;
      bottom: 2px;
      width: 52px;
      border-right: 1px solid #9d48d0;
      -webkit-border-top-left-radius: 2px;
              border-top-left-radius: 2px;
      -webkit-border-bottom-left-radius: 2px;
              border-bottom-left-radius: 2px;
      background-color: #fff;
      background-position: center center;
      background-repeat: no-repeat; }
    #questions-form-popup label::after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1;
      background-image: -webkit-gradient(linear, left top, right top, from(#9d48d0), to(#47cfc8));
      background-image: -webkit-linear-gradient(left, #9d48d0 0%, #47cfc8 100%);
      background-image: linear-gradient(to right, #9d48d0 0%, #47cfc8 100%); }

.fancybox-slide > * {
    overflow: initial !important;
  z-index: 1; }
  
 .fancybox-close-small {
    top: 10px;
    right: 10px;
    background-color: red;
    border: 1px solid transparent;
    border-radius: 100%;
    width: 35px;
    height: 35px;
 }

 .fancybox-close-small:after {
    top: -3px;
    right: -3px;
    width: 40px;
    height: 40px;
    font: 35px/40px Arial,Helvetica Neue,Helvetica,sans-serif;
    color: #ffffff;
    background: transparent;
 }

 .fancybox-close-small:hover:after {
    border-radius: 100%;
 }
 
 .fancybox-close-small:after {
     border-radius: 0;
 }

 .bottom-text p {
   color: #b9b9b9;
   font-weight: 500;
 }

.s-results {
  background-color: #f0f1f5; }
  .s-results h2 {
    margin-top: 0;
    margin-bottom: 4%; }
  .s-results .slider-image-wrap {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    height: 420px; }
  .s-results #results-slider {
    max-width: 990px; }
    .s-results #results-slider::before {
      content: "";
      position: absolute;
      top: 50%;
      width: 100%;
      height: 0;
      border-bottom: 1px dashed #d0b4e8; }

.owl-nav .owl-prev,
.owl-nav .owl-next {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  width: 31px;
  height: 31px;
  font-size: 0;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  border: 1px solid #d0b4e8;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease; }
  .owl-nav .owl-prev:hover, .owl-nav .owl-prev:focus,
  .owl-nav .owl-next:hover,
  .owl-nav .owl-next:focus {
    background-color: rgba(255, 255, 255, 0.6); }
.owl-nav .owl-prev {
  left: -31px;
  background-image: url(../img/arrow-prev.png); }
.owl-nav .owl-next {
  right: -31px;
  background-image: url(../img/arrow-next.png); }

#results-slider-counter-current {
  color: #5fbebb;
  font-size: 1.5rem;
  font-weight: 300; }
#results-slider-counter-count {
  color: #919191;
  font-size: 0.94rem;
  font-weight: 300;
  text-transform: uppercase; }

.s-how-to-start .row {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px dashed #d9d9d9; }
.s-how-to-start h2 {
  margin-top: 0;
  margin-bottom: 0; }
.s-how-to-start .counter {
  color: #c8cbd0;
  font-size: 8.13rem;
  font-weight: 300; }
.s-how-to-start h5 {
  padding-left: 50px;
  color: #898c91;
  font-size: 1.88rem;
  font-weight: 300; }
.s-how-to-start .how-to-start-icons {
  width: 144px;
  height: 144px;
  background-color: #294457;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center center; }
  .s-how-to-start .how-to-start-icons-1 {
    background-image: url(../img/how-to-start-1.png), url(../img/how-to-start-1-1.png); }
  .s-how-to-start .how-to-start-icons-2 {
    background-image: url(../img/how-to-start-2.png), url(../img/how-to-start-2-2.png); }
  .s-how-to-start .how-to-start-icons-3 {
    background-image: url(../img/how-to-start-3.png), url(../img/how-to-start-3-3.png); }
.s-how-to-start .text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  opacity: 0.9;
  color: #363636;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5; }

.how-to-start-description {
  margin-top: 0;
  opacity: 0.8;
  color: #363636;
  font-size: 1.06rem;
  font-weight: 300; }

.button-main-how-to {
  width: 400px;
  padding-left: 0;
  padding-right: 0;
  text-align: center; }

.s-presents {
  background-color: #f0f1f5;
}
  .s-presents h2 {
    margin-top: 0;
    margin-bottom: 10px; }
  .s-presents .presents {
    margin-top: 70px;
    flex-direction: row;  }
    .s-presents .presents-description {
      max-width: 515px;
      opacity: 0.8;
      color: #363636;
      font-size: 1.06rem;
      font-weight: 300;
      line-height: 1.5rem; }
  .s-presents .present-place {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
    width: 350px;
    background: url(../img/presents-item-bg.jpg) no-repeat center center;
    background-size: cover; }
    .s-presents .present-place-icon {
      margin-left: auto;
      margin-right: auto;
      width: 60px;
      height: 60px;
      border: 1px solid #ffffff;
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-border-radius: 100%;
              border-radius: 100%; }
    .s-presents .present-place-description {
      color: #ffffff;
      font-family: Ubuntu;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 10px;
      margin-top: 10px; }
    .s-presents .present-place-number {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-top: 0;
      margin-bottom: 0;
      opacity: 0.85;
      color: #ffffff;
      font-family: Ubuntu;
      font-size: 1.13rem;
      font-weight: 300;
      line-height: 1.5;
      border-top: 1px solid rgba(255, 255, 255, 0.3); }
    .s-presents .present-place-1 {
      height: 200px; }
      .s-presents .present-place-1 .present-place-icon {
        background-image: url(../img/icon-promo-1.png); }
      .s-presents .present-place-1 .present-place-description {
        font-size: 1.5rem; }
    .s-presents .present-place-2 {
      height: 250px; }
      .s-presents .present-place-2 .present-place-icon {
        background-image: url(../img/icon-promo-2.png); }
      .s-presents .present-place-2 .present-place-description {
        font-size: 3.13rem; }
    .s-presents .present-place-3 {
      height: 175px; }
      .s-presents .present-place-3 .present-place-icon {
        background-image: url(../img/icon-promo-3.png); }
      .s-presents .present-place-3 .present-place-description {
        font-size: 1.25rem; }

footer {
  position: relative;
  padding-top: 100px;
  background: url(../img/main-bg.jpg) no-repeat center center;
  background-size: cover; }
  footer::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    background: url(../img/footer-decor.png) no-repeat center center; }

.f-phones-list-wrap {
  position: relative;
  width: 200px;
  height: 30px;
  display: inline-block; }
  .f-phones-list-wrap span {
    position: absolute;
    background: url(../img/arrow-down.png) no-repeat center center;
    width: 10px;
    height: 10px;
    top: 5px;
    right: 0;
    cursor: pointer; }
    .f-phones-list-wrap span.active {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }

#f-phones-list {
  position: absolute;
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none; }
  #f-phones-list li a {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none; }
  
.social {
  display: flex;
  justify-content: flex-end;
}

.social a {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  border: 1px solid transparent;
  -webkit-transition: border 0.4s ease;
  transition: border 0.4s ease; }
  .social a:hover {
    border: 1px solid #fff; }

.f-menu {
  margin-top: 90px;
  margin-bottom: 80px; }
  .f-menu ul {
    padding: 0;
    align-items: center;
    flex-direction: row;
    list-style: none; }
    .f-menu ul li:not(:last-child) {
      border-right: 1px solid #fff; }
    .f-menu ul li a {
      padding: 2px 25px;
      color: #ffffff;
      font-family: Ubuntu;
      font-size: 0.88rem;
      font-weight: 400;
      line-height: 1.25;
      text-transform: uppercase;
      text-decoration: none; }
      .f-menu ul li a:hover, .f-menu ul li a:focus {
        text-decoration: underline; }

.f-copyright {
  opacity: 0.7;
  color: #ffffff;
  font-size: 0.88rem;
  font-weight: 300;
  line-height: 1.25;
  padding-bottom: 15px; }

.hidden {
  display: none; }

.thenks {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
}
.form_block {
  flex-direction: row;
}

.block_title {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(90deg, #8373cf, #47cec9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: max-content;
  margin: 0 auto;
}


.error::-webkit-input-placeholder {color:#c0392b; font-weight: 700;}
.error::-moz-placeholder          {color:#c0392b; font-weight: 700;}/* Firefox 19+ */
.error:-moz-placeholder           {color:#c0392b; font-weight: 700;}/* Firefox 18- */
.error:-ms-input-placeholder      {color:#c0392b; font-weight: 700;}

.mymodal {
  max-width: 800px;
  width: 90%;
}

.mymodal h3 {
  font-size: 2rem;
}

.mymodal p {
  font-size: 1rem;
}

.s-about-display {
  display: flex;
}
.s-about-slider {
  display: none !important;
}
.s-about2-display {
  display: flex;
}
.s-about2-slider {
  display: none !important;
}
/*==========  Desktop First Method  ========== */
/* Large Devices, Wide Screens */
@media (max-width: 1200px) {
  /* */ }
/* Medium Devices, Desktops */
@media (max-width: 992px) {
  .decor form.form_block {
    justify-content: center;
  }
  .no-gutters div {
    justify-content: center;
    margin: 15px 0;
  }
}
/* Small Devices, Tablets */
@media (max-width: 768px) {
  /*Disable Animation on Mobile Devices */
  .animated {
    /*CSS transitions */
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms */
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations */
    -webkit-animation: none !important;
    animation: none !important; } 
    #questions-form .button-main[type="submit"] {
      width: 300px;
    }
  
    .s-about p, .s-about2 p {
      font-size: 2rem;
      line-height: 2.5rem;
    }
    .s-about h3, .s-about2 h3 {
      padding-top: 40px;
      font-size: 2.5rem;
      padding-bottom: 15px;
    }
    .s-about-display {
      display: none !important;
    }
    .s-about-slider {
      display: block !important;
    }
    .s-about2-display {
      display: none !important;
    }
    .s-about2-slider {
      display: block !important;
    }
    .slider-image-wrap {
      padding: 40px;
    }
    .steps-description {
      margin: 10px 0 15px;
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
    .steps-subdescription {
      font-size: 1.5rem;
    }
    .steps .step h4 {
      font-size: 1rem;
    }
    .steps .step p {
      font-size: 1rem;
      line-height: 1.5rem;
    }
    .how-to-start-description {
      font-size: 2rem;
    }
    .s-how-to-start h5 {
      align-items: center;
      display: flex;
    }
    .button-main {
      font-size: 2rem;
    }
    .s-how-to-start .text {
      max-width: 70%;
      font-size: 2rem;
    }
    .s-presents .presents-description {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  
  }

    
  
  header {
    height: 100px;
    align-items: center;
    display: flex;
    padding-top: 40px;
  }

/* Extra Small Devices, Phones */
@media (max-width: 576px) {
  .s-head .container {
    height: 240vh;
  }
  .logo1 {
    height: 75px;
  }
  #menu-toggler {
    height: 80px;
    width: 76px;
  }
  .h1-subtitle {
    font-size: 3rem;
  }
  h1 {
    font-size: 7rem;
  }
  .h1-subtitle-2 {
    font-size: 2rem;
  }
  .button-main {
    font-size: 4rem;
    line-height: 4rem;
    padding: 35px 50px 40px;
  }
  .s-about h3, .s-about2 h3 {
    font-size: 4rem;
    line-height: 4rem;
  }
  .s-about h3::after, .s-about2 h3::after {
    bottom: -22px;
  }
  .s-about p, .s-about2 p {
    font-size: 3rem;
    line-height: 4rem;
  }
  .steps-description {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .steps-subdescription {
    font-size: 2rem;
    margin: 20px 0;
    line-height: 2rem;
  }
  .steps {
    display: block !important;
  }
  .steps .step h4 {
    font-size: 3rem;
  }
  .steps .step p {
    line-height: 2.5rem;
    font-size: 2.5rem;
    margin-bottom: 50px;
  }
  .steps-info-after {
    font-size: 3rem;
    line-height: 3rem;
  }
  .form_block {
    flex-direction: column;
  }
  #questions-form label {
    margin: 15px auto;
    width: 900px;
    height: 100px;
  }
  #questions-form label input {
    width: 844px;
    font-size: 2.5rem;
  }
  #questions-form .button-main[type="submit"] {
    margin: 15px auto;
    width: 900px;
  }
  .how-to-start-description {
    font-size: 3rem;
  }
  .button-main-how-to {
    width: 75%;
  }
  .s-how-to-start .counter {
    font-size: 12rem;
  }
  .s-how-to-start h5 {
    font-size: 3rem;
  }
  .s-how-to-start .text {
    max-width: 90%;
    font-size: 3rem;
    line-height: 4rem;
  }
  .s-presents .presents-description {
    max-width: 90%;
    font-size: 3rem;
    line-height: 4rem;
  }
  .s-presents .presents {
    flex-direction: column;
  }
  .s-presents .present-place {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
  .f-menu ul {
    flex-direction: column;
  }
  .f-menu ul li:not(:last-child) {
    border-right: 1px solid transparent;
  }
  .f-menu ul li a {
    font-size: 2.5rem;
  }
  .f-copyright {
    font-size: 2.5rem;
  }
  .social {
    justify-content: center;
    padding: 0;
  }
  .sidepanel .themenu a {
    font-size: 3rem;
    text-align: center;
    display: block;
  }
  .block_title {
    font-size: 4rem;
    margin-bottom: 15px;
  }
  .s-presents .present-place-1 {
    height: 400px;
    width: 900px;
  }
  .s-presents .present-place-number {
    font-size: 4rem;
  }
  .s-presents .present-place-icon {
    width: 150px;
    height: 150px;
  }
  .s-presents .present-place-1 .present-place-description {
    font-size: 2.5rem;
  }
  .s-presents .present-place-2 {
    height: 400px;
    width: 900px;
    order: -1;
  }
  .s-presents .present-place-3 {
    height: 400px;
    width: 900px;
  }
  .s-presents .present-place-3 .present-place-description {
    font-size: 2.5rem;
  }

  .mymodal .button-main {
    font-size: 3rem;
  }
  .mymodal h3 {
    font-size: 4rem;
  }
  
  .mymodal p {
    font-size: 2.5rem;
  }

}
/* Extra Small Devices, Phones */
@media (max-width: 480px) {
  .s-head .container {
    height: 300vh;
  }  
}
/* Custom, iPhone Retina */
@media (max-width: 320px) {
  .s-head .container {
    height: 390vh;
  }  
}
